<h1>餐廳後台</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <% restaurant.name %>
    <% link to 'Show', admin_restaurant_path(restaurant) %>
    <% link to 'Edit', edit_admin_restaurant_path(restaurant) %>
    <% link to 'Delete', admin_restaurant_path(restaurant), method: :delete,data: {confirm:"Are you sure?"} %>
  </li>
  <% end %>
</ul>
<%= link_to 'New Restaurant', new_admin_restaurant_path %>