.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.nav-pills-center {
  text-align: center;
}

.nav-pills-center > li {
  float: none;
  display: inline-block;
}

.panel a:hover .my-restaurant {
  background-color: #eee;
  text-decoration: none;
}

.my-restaurant {
  display: inline-block;
  padding: 8px;
  text-align: center;
}

.panel-default > .panel-heading {
  color: white;
  background-color: #337ab7;
  border-color: #ddd;
}

.my-restaurant > div {
  height: 70px;
}

.my-restaurant img {
  max-height: 100%;
}

a, a:link, a:visited, a:focus, a:hover, a:active{
  text-decoration:none; 
}

.follow-item {
  margin-bottom: 15px;
}